<div class="card-container">

      <div class="card-info">
        <div class="card-info-text">
          <p class="card-title"> Zero - Tow </p>
          <p class="card-cost"> $ 5 </p>
          <div class="card-coment">

            <span class="text-coment">Comentario</span>

            <span class="material-icons color-icon">
              favorite
            </span>

          </div>
        </div>
      </div>

      <div class="card-view">  </div>

      <img src="../../assets/02.png" alt="" class="card-imagen">

</div>



<p><strong>Nicolas Sabogal</strong></p>


problemas con el merge
