<div class="menu">
  <div class="logo-menu">MQ</div>
  <nav class="menu-nav">
    <div class="nav-element">
      <a routerLink="Draw me"  routerLinkActive="nav-active" class="nav-active">
        Draw me
      </a>
    </div>
    <div class="nav-element ">
      <a routerLink="Draw me"  routerLinkActive="nav-active">
        Proyects
      </a>
    </div>
    <div class="nav-element">
      <a routerLink="Draw me"  routerLinkActive="nav-active" >
        Aboud me
      </a>
    </div>
  </nav>
  <div class="menu-btn">
    <span class="dat-menu"></span>
    <span class="dat-menu"></span>
    <span class="dat-menu"></span>
  </div>
</div>
