.texto-normal{
  color: #ACACAC;
  font-size: 14px;
}

.contenedor{
  width:50%;
  position: absolute;
  left: 40%;
  //top: 50%;
//  transform: translateY(-50%);

 // border:1px solid black;
}

.scrollContainer{
  height: 400px;
  width: 100%;

}
