<div class="contenedor">
  <!--
  <div class="article" *ngFor="let articuloItem of articuloVar">
      <h2>
        {{ articuloItem.titulo}}
      </h2>

      <p class="texto-normal">
        {{articuloItem.cuerpo}}
      </p>
  </div>
  -->
  <div>
    <h2 >
      {{ allAlbums}}
    </h2>
    <p class="subtitulo">
      subtitulo
    </p>
  </div>
  <cdk-virtual-scroll-viewport itemSize="50" class="scrollContainer">
    <p class="texto-normal" *cdkVirtualFor="let albums of allAlbums | async">
      {{ albums.title}}
    </p>
  </cdk-virtual-scroll-viewport>



</div>




